<div class="jumbotron">
  <h1>Evidence Tipgames</h1>
  <p>Pro vstup do systému se, prosím, přihlašte.</p>
  <p><%= link_to "Přihlásit se", login_path, :class => "btn btn-success", :role => "button" %></p>
</div>